# Android Studio
*.iml
.gradle/
local.properties
.idea/
.DS_Store

# Build output
build/
*/build/

# Android Studio files
captures/
.externalNativeBuild/

# Keystore files
*.jks
*.keystore

# Log files
*.log

# Navigation / editor cache
.navigation/
.cxx/
