# Android build files
*/build/
build/

# Gradle
.gradle/

# Local config
local.properties

# IDE
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Signing
*.jks
*.keystore

# Logs
*.log

# Android Studio specific
captures/
.externalNativeBuild/
.navigation/
.cxx/
